.logo {
    font-size: calc(var(--index) * 20);
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

.link-1 {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.3vw;

    font-size: calc(var(--index) * 12);
    font-weight: 600;
    color: #fff;

    background: none;
    border: none;
    transition-duration: 150ms;
}

.icon {
    height: calc(var(--index) * 18);
}

.black a {color: #000;}

.input {
    min-height: calc(var(--index) * 28);
    width: 100%;
    border-radius: 0.5vh;
    border: 0.1vh solid #000;
    margin-bottom: 4.1vh;
}

.button {
    padding: 1.8vh 2.4vw;
    border-radius: 0.5vh;
    color: #fff;
    border: none;
    background-color: #000;
    display: flex;
    justify-content: center;
}