.block-1 {
    min-height: 90vh;
    background-image: url("../img/bac.jpg");
    background-size: cover;
    background-position: center;
}

.block-2 {
    background-color: #f5914f;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.block-3 {
    background-color: #615b57;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.block-header {
    height: auto;
    background-color: black;
    color: #f5914f;
}
.block-header .row {
    min-height: 10vh;
    align-items: center;
}

.header-block-mini {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}

.block-3_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8vh;
}

@media (max-width: 768px) {
    .header-block-mini {
        align-items: center;
        flex-direction: column;
    }
}