/* Экраны */
.block-1 {
    height: 100vh;
    background: linear-gradient(to top,rgb(0 0 0 / .6), rgb(0 0 0 / 0)),
    url("../img/bac-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.block-1_bottom {
    align-items: flex-end;
}

footer {
    padding: 80px 0;
    background-color: black;
}

/* Отступы */
.margin-1 {
    margin-bottom: 8.3vh;
}

.margin-2 {
    margin-bottom: 2.7vh;
}

.margin-3 {
    margin-bottom: 10vh;
}

/* Header */
.header_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3vh 0;
    border-bottom: 0.1vh solid #fff;
    margin-bottom: 60vh;
}

.header_block-mini {
    display: flex;
    align-items: center;
    gap: 4.2vw;
}

/* Меню */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-block {
    display: none;
    position: absolute;
    background-color: #0000001c;
    backdrop-filter: blur(10px);
    border: 0.1vh solid #fff;
    width: max-content;
    padding: 1vh 1vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0.5vh;
}

.dropdown-block .link-1 {
    display: block;
    margin-bottom: 1vh;
    color: #fff;
}

.dropdown:hover .dropdown-block {display: block;}

.dropdown:hover .link-1 .arrow-1 {transform: rotateY('90deg');}

/* Блок снизу у 1 экрана */
.bottom-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 10vh;
    border-bottom: 0.13vh solid #fff;
}
.bottom-block p {
    font-size: calc(var(--index) * 12);
}

/* 2 экран */
.block-gray {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 24px;
    border-radius: 8px;
    background-color: #F8F8F8;
    text-decoration: none;
}
.block-gray * {
    color: black;
    text-align: left;
}
.block-gray_border {
    height: 100%;
    background: none;
    border: 1px solid #0000004D;
}

.block-img {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.block-img__box {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 50%;
}
.block-img__box img {
    border-radius: 8px;
    width: 100%;
}

.img-pac {
    width: 100%;
}

/* Feedback */

.black .header_block {
    border-bottom: 0.1vh solid black;
}

.margin-0 {
    margin: 0;
}

/* Прочее */
.block-mini {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.block-download {
    width: 100%;
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    text-decoration: none;
    gap: 20px;
}

.download {
    min-height: 64px;
    background-color: #F5F5F5;
    border-radius: 4px;
    padding: 20px 38px;
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    flex: 1;
}

.block-download .download:last-child {
    width: 100%;
}

.block-download .download:first-child {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-basis: content;
    align-self: stretch; /* Расширение элемента до высоты родителя */
    aspect-ratio: 1;
}


.block-4 {
    margin-bottom: -160px;
}

@media (min-width: 1600px) {
    .download {
        padding: 22px 40px;
        min-height: 120px;
    }
    .download img {
        height: 64px;
    }
}
@media (max-width: 768px) {
    .margin-2_adaptive {
        margin-bottom: 2.7vh;
    }
    .margin-1 {
        margin-bottom: 3vh;
    }

    .download {
        padding: 16px 20px;
        min-height: 50px;
    }
    .download img {
        height: 26px;
    }
}