@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Установка шрифта */
body, html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: calc( var(--index) * 7 );
}

h1 {
    font-size: calc(var(--index) * 30);
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: calc(var(--index) * 18);
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: calc(var(--index) * 14);
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 0;
}

p, li {
    font-size: calc(var(--index) * 14);
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin: 0;
}

.left-text {
    text-align: left;
}

.center-text {
    text-align: center;
}

.black-text {color: #000;}

.black p, input {
    color: #000;
}

b {
    font-weight: 500;
}